#articleCruzeirosTematicos{
    height: calc(100vh - 88.69px);
    background: url('./imagens/tematico.jpg');
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
}
#flexCruzeirosTematicos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#flexCruzeirosTematicos h1{
    font-size: 70px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 5px;
    font-family: 'Aboreto', cursive;
    text-transform: uppercase;
    color: white;
}
#flexCruzeirosTematicos p{
    color: #9fa5ac;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 25px 0;
    overflow-wrap: break-word;
    letter-spacing: .0313em;
    max-width: 600px;
    text-align: center;
}
#flexCruzeirosTematicos a{
    position: relative;
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;
    overflow: hidden;
    font: inherit;
    font-weight: 500;
    padding: 15px 20px;
    line-height: 1.67;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    color: black;
    background-color: var(--bg3);
    text-transform: uppercase;
    letter-spacing: .188em;
    cursor: pointer;
    border: 0 solid rgba(0,0,0,0);
    border-radius: 8px;
    outline: 0;
    transition: all .2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border-color,background-color,color;
    transform: translate3d(0, 0, 0);
}

@media screen and (max-width:1000px){
    #flexCruzeirosTematicos h1{
        font-size: 40px;
    }
    

}